.info-window-card {
    padding-top: 5px;
    cursor: pointer;
    .info-window-title {
        padding: 0 3px;
        font-size: 14px;
        max-width: 85%;
        color: #3a4980 !important;
        font-weight: bold !important;
        &:dir(rtl) {
            font-family: "SaudiWeb", sans-serif !important;
        }
    }
    img {
        min-width: 160px !important;
        width: 100%;
        height: 96px;
        border-radius: 8px;
        border: 2px solid black;
    }
}
