<div class="d-flex flex-column align-items-center justify-content-center no-data">
    <img src="assets/images-v2/create-trip/trip-ready/start.png" class="trip-img" alt="trip">
    <p class="text-center fw-500 mt-3">{{'general.tripSavedBefore'|translate}}</p>
    <div class="d-flex text-center gap-3">
        <button class="btn btn-solid-main" (click)="createTrip()">
            {{'general.createNewTrip'|translate}}
        </button>
        <button class="btn btn-outline-main" (click)="viewTripList()">
            {{'general.viewAllTrips'|translate}}
        </button>
    </div>
</div>