#events {
  .background-pattern {
    width: 100%;
    height: 100%;
    /* Add your background pattern here */
    background-image: url(../../../../../assets/images/home/event-bg.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  @media (max-width: 512px) {
    .background-pattern {
      background-image: none !important;
      background-color: #9e66d4;
    }
  }

  .map-icon-image {
    width: 40px;
    height: 40px;
    background-color: #0026ff3b;
    border-radius: 3px;

    img {
      width: 100%;
      height: 100%;
      object-fit: fill;
    }
  }

  .sudiaPlacesArrow {
    background: #7939a7;
    color: var(--text-white-color) !important;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    transform: translate(10px, -50%);
    z-index: 55 !important;

    &.disabled2 {
      background: #d0cccc !important;
      pointer-events: none;
    }

    &.arrow-right {
      right: 10px;
    }

    &.arrow-left {
      left: -10px;
    }
  }

  .arrow {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: var(--text-white-color);
    cursor: pointer;
  }

  .slider-item {
    width: 95%;
    margin: auto !important;
  }

  .text-muted-color {
    color: #696969 !important;
  }


  .slide-img {
    transition: transform 0.3s ease-in-out; // Add transition for smooth scaling
    height: 280px !important;
    border-radius: 10px;
    overflow: hidden;

    // Add scale when currentEvent?.id == slide?.id
    &.slider-h {
      height: 320px !important; // Ensure the height also adjusts if needed
    }
  }

  // Ensure other elements do not overlap with the scaled image
  .slider-item {
    z-index: 1; // Ensure the scaled image is above other content
  }

  .slider-h:nth-of-type(1).slide-img {
    height: 350px !important;
    transform: scale(1.2); // Ensure consistent scaling for the first item

  }

  .slide-saudi-img {
    height: 550px;
    min-height: 550px;
    border-radius: 0;
  }

  .slider-item .overlay {
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #1111115e;
  }

  .slide-img {
    height: 280px !important;
    border-radius: 10px;
  }

  .saudi-content {
    z-index: 1;
    top: 38%;
    transform: translateY(-50%);
  }

  .arrow-right {
    right: 16px;
  }

  .event-btn {
    padding: 0.5rem 1rem;
  }

  .see-all {
    background-color: #8b008b;
  }

  .slider-h:nth-of-type(1).slide-img {
    height: 350px !important;
  }

  .default-img {
    height: 280px !important;
  }

  .closed {
    background-color: rgba(17, 17, 17, 0.463);
    color: #fff;
  }

  .play {
    width: 45px;
    height: 45px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #8b008b;
  }

  .place-address-h {
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
  }

  .sudiaPlacesArrow {
    background:#7939a7;
    color: var(--text-white-color) !important;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    transform: translate(10px, -50%);
    z-index: 55 !important;

    &.disabled2 {
      background: #d0cccc !important;
      pointer-events: none;
    }

    &.arrow-right {
      right: 10px;
    }

    &.arrow-left {
      left: -10px;
    }
  }
}

:host::ng-deep {
  #events {
    .slick-track {
      display: flex;
      align-items: flex-end;
    }

    .slick-slider .slick-list {
      direction: ltr;
    }
  }

  .p-carousel .p-carousel-content .p-carousel-prev,
  .p-carousel .p-carousel-content .p-carousel-next {
    background: #7939a7;
    color: var(--text-white-color) !important;
    border-radius: 50%;
  }
}

@media (max-width: 520px) {
  #events .slider-h:nth-of-type(1).slide-img {
    height: 200px !important;
    object-fit: fill !important;
  }

  #events .slick-track {
    align-items: center !important;
  }
}