[submodule "mobile"]
	path = mobile
	url = https://github.com/I3mal-Team/hawdaj.git
[submodule "backend"]
	path = backend
	url = https://github.com/I3mal-Team/hawdaj-api.git
[submodule "web"]
	path = web
	url = https://github.com/I3mal-Team/hawdaj-frontend.git
[submodule "docs"]
	path = docs
	url = https://github.com/I3mal-Team/hawdaj-docs.git
