#hero-events {
  min-height: 100vh;
  background-image: url("../../../../../assets/images/events/events-bg.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 120px;

  .w-80 {
    width: 85%;
  }
  .hero-events-container{
    min-height: 70vh;
  }
  span{
    &.open{
    background-color: var(--light-new-color);
  }
    &.closed{
      background-color: rgb(192, 0, 0) !important;
    }
    &.soon{
      background-color: #7939a791;
    }
  }
}

:host::ng-deep {
  #filter {
    margin-top: -3rem;

    .event-name {
      border-radius: 20px 0 0 20px;
    }

    .location-type {
      border-radius: 0px 20px 20px 0;
      background-color: var(--bg-white-color);
      z-index: 11;
    }

    .p-inputtext {
      border: 0 !important;
      padding: 0 !important;
      color: #111;
      font-weight: 500 !important;
      height: auto;
      background-color: transparent;
      font-size: 1.1rem !important;

      &>span {
        display: none;
      }
    }

    .date-input {
      background-color: #ffff !important;
      position: absolute;
      top: 0;
      z-index: 111;
      width: 83%;
    }

    .form-control {
      color: hsl(0, 0%, 7%);
      font-weight: 600 !important;
      font-size: 1.1rem !important;
    }

    .form-control::placeholder {
      color: #111 !important;
      font-weight: 500 !important;
      font-size: 1.1rem !important;
    }

    .p-dropdown .p-dropdown-trigger {
      color: #b5b5b5 !important;
      // width: 4rem !important;
      display: flex;
      justify-content: flex-end;
    }

    // .p-dropdown .p-dropdown-label {
    //   color: #111 !important;
    // }
    .label-form {
      color: #b5b5b5;
    }

    .filter-icon {
      border: 1px solid #ebebeb;
      min-width: 25px;
      min-height: 25px;
      border-radius: 50%;
      background-color: var(--light-new-color);
    }

    .shadow-bottom {
      box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
      // box-shadow: 0 0.125rem 0rem rgba(0, 0, 0, 0.075);
      background-color: var(--bg-white-color);
    }

    .bg-search {
      background-color: var(--light-new-color) !important;
      border: 0 !important;
      border-radius: 0 20px 20px 0;
    }

    .search {
      border-radius: 0 20px 20px 0;
      margin-left: -1rem;
      z-index: 0;
    }
  }

  .p-paginator {
    background-color: transparent !important;
  }

  .p-link {
    border-radius: 7px !important;

    &.p-highlight {
      // background-color: #cf86ac !important;
      // color: var(--text-white-color) !important;
          /* background-color: #cf86ac !important; */
    /* color: var(--text-white-color) !important; */
    background-color: #000000 !important;
    border-radius: 5px !important;
    width: 40px;
    min-width: 40px;
    height: 40px;
    color: white;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0);
    }
  }
}

.all-events {
  margin-top: 7rem;
  span {
    right: 0 ;
    &:dir(ltr){
      right: 0;
    left: inherit !important;
    }
  }

  .input-search {
    box-shadow: 0px 2px 10px 0px #00000021 !important;
    height: 3.1rem !important;
    border-radius: 7px;

    .form-control {
      height: 3.1rem !important;
    }
  }

  .btn-search {
    min-width: 3rem !important;
  }

  .event-card {
    transition: all 0.4s ease;
    border-radius: 20px;

    .event-img {
      height: 330px;
      border-radius: 20px;
      object-fit: fill;
    }

    .event-content {
      bottom: 0;
      background-color: #ffffff80;
      border-radius: 20px;

      .description {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        line-height: 1.8;
        margin-top: 5px;
      }

      .trip-title {
        -webkit-box-orient: vertical;
        display: -webkit-box;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-line-clamp: 1;
      }
    }

    .btn-details {
      width: 40px;
      height: 40px;
      background-color: #9747ff;
      border: 5px solid var(--bg-white-color);
      right: -1rem;
      bottom: -0.8rem;
    }

    &:hover {
      transition: all 0.4s ease;

      .event-content {
        height: 100%;

        .description {
          white-space: wrap;
          // height: 78%;
          // height: 58%;
          margin-top: 10px;
        }

        .trip-title {
          display: block !important;
        }
      }

      span {
        display: none;
      }
    }
  }
}

#search-sm {
  .shadow-bottom {
    border-radius: 20px !important;
  }

  .bg-search {
    border-radius: 10px !important;
  }

  .search-sm-bg {
    background: linear-gradient(87.3deg, #360c3e -33.33%, #9e0fbc 198.69%);
    padding: 15px;
    border-radius: 13px;
  }

  .search-sm-icon {
    min-width: 35px;
    height: 35px;
    background: #ffffff36;
  }

  .search-sm-arrow {
    width: 35px;
    height: 35px;
    background: var(--light-new-color);
    right: -9px;
  }

  .close-search {
    width: 35px;
    height: 5px;
    border-radius: 3px;
    display: block;
    background-color: var(--text-main-color);
    margin: auto;
  }

  .search-sm-input {
    border: 1px solid #8c95a329;
    border-radius: 15px;
    background-color: var(--bg-white-color);
  }

  .search-sm-content {
    // margin: 10px;
    background-color: #84548e0a;
  }

  #search {
    overflow: auto;
    max-height: 77vh;
    height: auto;
  }

  #search .active:after,
  #search .visited:after {
    left: 10px;
  }
}

:host::ng-deep {
  #search-sm {
    .p-sidebar-bottom {
      max-height: 80vh;
      height: auto;
      border-radius: 10px 10px 0 0 !important;
      overflow: hidden;
    }

    .p-sidebar .p-sidebar-content {
      border-radius: 10px 10px 0 0 !important;
      overflow: initial !important;
    }

    .p-sidebar .p-sidebar-header,
    .p-sidebar .p-sidebar-footer {
      display: none;
    }

    .p-sidebar .p-sidebar-content {
      padding: 0 !important;
    }
  }

  .event-calendar {
    .p-button-icon-only {
      background-color: transparent;
      color: var(--bg-main-color);
      border: 0 !important;
      height: auto;
      padding: 0;
    }
  }

  .p-inputwrapper {
    width: 100% !important;
  }

  .p-datepicker table td>span.p-highlight {
    color: var(--text-white-color) !important;
    background: #9e0fbc !important;
  }
}
