.textarea {
  height: 5rem !important;
}

.form-control {
  background-color: transparent !important;
  border: 1px solid #8c95a399;
}

#modal {
  max-height: 450px;
  overflow: auto;
}

.btn-solid-main {
  background-color: #7939A7 !important;
  border-color: #7939A7 !important;
}