<div id="stories-list">
  <div id="stories" class="position-relative pb-xl-0 pb-4">
    <div class="overlay-bg position-absolute"></div>
    <div class="container">
      <ng-container *ngIf="isLoadingRecentStories; else noLoadingHero">
        <!-- <app-skeleton [type]="'heroStories'"></app-skeleton> -->
      </ng-container>
      <ng-template #noLoadingHero>
        <ng-container *ngIf="heroStories?.length>0; else noHeroData">
          <ng-container *ngIf="heroStories?.length==1">
            <div class="position-relative pointer" [routerLink]="['/stories/'+heroStories[0]?.slug]">
              <!-- <a class="position-absolute story-type text-white-color rounded-end-pill">Travel</a> -->
              <img [src]="heroStories[0]?.image" class="w-100 hero-img shadow-sm" alt="img"
                onerror="src='assets/images/not-found/no-img.svg'">
              <div class="overlay position-absolute"></div>
              <div class="position-absolute hero-content p-4">
                <h1 class="fs-3 text-white-color">{{heroStories[0]?.title}}</h1>
                <p class="hero-desc">{{heroStories[0]?.content}}</p>
                <hr>
                <div class="d-flex align-items-center gap-3 flex-wrap">
                  <p class="text-muted-color d-flex gap-2 align-items-center mb-0">
                    <span
                      class="calendar-icon bg-white-color rounded-pill d-flex justify-content-center align-items-center"><i
                        class="pi pi-calendar  text-main-color"></i></span>
                    {{ heroStories[0]?.created_at | date: 'd MMMM y':'':currentLanguage }}
                  </p>
                  <div>
                    <!-- {{heroStories[0].rate}} -->
                    <!-- <p-rating [(ngModel)]="heroStories[0].rate" [id]="'rating3'"
                      [disabled]="true"></p-rating> -->
                  </div>
                </div>
              </div>
            </div>
          </ng-container>
          <ng-container *ngIf="heroStories?.length==2">
            <div class="row">
              <div class="col-md-6">
                <div class="position-relative pointer" [routerLink]="['/stories/'+heroStories[0]?.slug]">
                  <!-- <a class="position-absolute story-type text-white-color rounded-end-pill">Travel</a> -->
                  <img [src]="heroStories[0]?.image" class="w-100 hero-img shadow-sm" alt="img"
                    onerror="src='assets/images/not-found/no-img.svg'">
                  <div class="overlay position-absolute"></div>
                  <div class="position-absolute hero-content p-4">
                    <h1 class="fs-3 text-white-color">{{heroStories[0]?.title}}</h1>
                    <p class="hero-desc">{{heroStories[0]?.content}}</p>
                    <hr>
                    <div class="d-flex align-items-center gap-3 flex-wrap">
                      <p class="text-muted-color d-flex gap-2 align-items-center mb-0">
                        <span
                          class="calendar-icon bg-white-color rounded-pill d-flex justify-content-center align-items-center"><i
                            class="pi pi-calendar  text-main-color"></i></span>
                        {{ heroStories[0]?.created_at | date: 'd MMMM y':'':currentLanguage }}
                      </p>
                      <div>
                        <!-- {{heroStories[0].rate}} -->
                        <p-rating [(ngModel)]="heroStories[0].rate" [id]="'rating3'" [disabled]="true"></p-rating>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6 mt-md-0 mt-4">
                <div class="position-relative pointer" [routerLink]="['/stories/'+heroStories[1]?.slug]">
                  <!-- <a class="position-absolute story-type text-white-color rounded-end-pill">Travel</a> -->
                  <img [src]="heroStories[1]?.image" class="w-100 hero-img shadow-sm" alt="img"
                    onerror="src='assets/images/not-found/no-img.svg'">
                  <div class="overlay position-absolute"></div>
                  <div class="position-absolute hero-content p-3 bottom-0 w-100">
                    <h1 class="fs-5 text-white-color text-truncate">
                      {{heroStories[1]?.title}}</h1>
                    <p class="hero-desc">{{heroStories[1]?.content}}</p>
                    <hr>
                    <div class="d-flex align-items-center gap-3 flex-wrap">
                      <p class="text-muted-color d-flex gap-2 align-items-center mb-0">
                        <span
                          class="calendar-icon bg-white-color rounded-pill d-flex justify-content-center align-items-center"><i
                            class="pi pi-calendar  text-main-color"></i></span>
                        {{ heroStories[1]?.created_at | date: 'd MMMM y':'':currentLanguage }}
                      </p>
                      <div>
                        <!-- {{heroStories[1].rate}} -->
                        <p-rating [(ngModel)]="heroStories[1].rate" [id]="'rating3'" [disabled]="true"></p-rating>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </ng-container>
          <ng-container *ngIf="heroStories?.length==3">
            <div class="row">
              <div class="col-md-8">
                <div class="position-relative pointer" [routerLink]="['/stories/'+heroStories[0]?.slug]">
                  <!-- <a class="position-absolute story-type text-white-color rounded-end-pill">Travel</a> -->
                  <img [src]="heroStories[0]?.image" class="w-100 hero-img shadow-sm" alt="img"
                    onerror="src='assets/images/not-found/no-img.svg'">
                  <div class="overlay position-absolute"></div>
                  <div class="position-absolute hero-content p-4">
                    <h1 class="fs-3 text-white-color">{{heroStories[0]?.title}}</h1>
                    <p class="hero-desc">{{heroStories[0]?.content}}</p>
                    <hr>
                    <div class="d-flex align-items-center gap-3 flex-wrap">
                      <p class="text-muted-color d-flex gap-2 align-items-center mb-0">
                        <span
                          class="calendar-icon bg-white-color rounded-pill d-flex justify-content-center align-items-center"><i
                            class="pi pi-calendar  text-main-color"></i></span>
                        {{ heroStories[0]?.created_at | date: 'd MMMM y':'':currentLanguage }}
                      </p>
                      <div>
                        <!-- {{heroStories[0].rate}} -->
                        <p-rating [(ngModel)]="heroStories[0].rate" [id]="'rating3'" [disabled]="true"></p-rating>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4 mt-md-0 mt-4">
                <div class="position-relative pointer" [routerLink]="['/stories/'+heroStories[1]?.slug]">
                  <!-- <a class="position-absolute story-type text-white-color rounded-end-pill">Travel</a> -->
                  <img [src]="heroStories[1]?.image" class="w-100 hero-img2 shadow-sm" alt="img"
                    onerror="src='assets/images/not-found/no-img.svg'">
                  <div class="overlay position-absolute"></div>
                  <div class="position-absolute hero-content p-3 bottom-0 w-100">
                    <h1 class="fs-5 text-white-color text-truncate">
                      {{heroStories[1]?.title}}</h1>
                    <p class="hero-desc">{{heroStories[1]?.content}}</p>
                    <hr>
                    <div class="d-flex align-items-center gap-3 flex-wrap">
                      <p class="text-muted-color d-flex gap-2 align-items-center mb-0">
                        <span
                          class="calendar-icon bg-white-color rounded-pill d-flex justify-content-center align-items-center"><i
                            class="pi pi-calendar  text-main-color"></i></span>
                        {{ heroStories[1]?.created_at | date: 'd MMMM y':'':currentLanguage }}
                      </p>
                      <div>
                        <!-- {{heroStories[1].rate}} -->
                        <p-rating [(ngModel)]="heroStories[1].rate" [id]="'rating3'" [disabled]="true"></p-rating>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="position-relative mt-4 pointer" [routerLink]="['/stories/'+heroStories[2]?.slug]">
                  <!-- <a class="position-absolute story-type text-white-color rounded-end-pill">Travel</a> -->
                  <img [src]="heroStories[2]?.image" class="w-100 hero-img2 shadow-sm" alt="img"
                    onerror="src='assets/images/not-found/no-img.svg'">
                  <div class="overlay position-absolute"></div>
                  <div class="position-absolute hero-content p-3 bottom-0 w-100">
                    <h1 class="fs-5 text-white-color text-truncate">{{heroStories[2]?.title}} </h1>
                    <p class="hero-desc">{{heroStories[2]?.content}}</p>
                    <hr>
                    <div class="d-flex align-items-center gap-3 flex-wrap">
                      <p class="text-muted-color d-flex gap-2 align-items-center mb-0">
                        <span
                          class="calendar-icon bg-white-color rounded-pill d-flex justify-content-center align-items-center"><i
                            class="pi pi-calendar  text-main-color"></i></span>
                        {{ heroStories[2]?.created_at | date: 'd MMMM y':'':currentLanguage }}
                      </p>
                      <div>
                        <!-- {{heroStories[2].rate}} -->
                        <p-rating [(ngModel)]="heroStories[2].rate" [id]="'rating3'" [disabled]="true"></p-rating>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </ng-container>
        </ng-container>
        <ng-template #noHeroData>
          <div class="py-4 mt-5 d-flex no-provider justify-content-center align-items-center gap-3 flex-column">
            <img src="assets/images/not-found/no-data.svg" width="200px" alt="no-data">
            <p>{{'general.noData'|translate}}</p>
          </div>
        </ng-template>
      </ng-template>
    </div>
  </div>
  <div id="recent-stories" class="position-relative">
    <div class="container pt-5">
      <h2 class="bg-title text-dark-color"> {{'stories.recentStories'|translate}}</h2>
      <div class="row container1 align-items-start mt-4">
        <div class="col-md-8 content1">
          <div class="row">
            <ng-container *ngIf="isLoadingRecentStories; else noLoadingRecentStories">
              <!-- <app-skeleton [type]="'recentStories'"></app-skeleton> -->
            </ng-container>
            <ng-template #noLoadingRecentStories>
              <ng-container *ngIf="paginatedStoriesList?.length>0; else noRecentStories">
                <ng-container *ngFor="let item of paginatedStoriesList;let i=index">
                  <div class="col-lg-6 col-md-12 col-sm-6 mb-4">
                    <div class="p-3 content h-100 pointer" [routerLink]="['/stories/'+item?.slug]">
                      <img [src]="item?.image" class="w-100 story-img shadow-sm" alt="img"
                        onerror="src='assets/images/not-found/no-img.svg'">
                      <div class="mt-3">
                        <p class="text-muted-color mb-2"><i class="pi pi-calendar  text-main-color"></i>
                          {{ item?.created_at | date: 'd MMMM y':'':currentLanguage }}
                        </p>
                        <h5 class="fs-5 fw-500">{{item?.title}}
                        </h5>
                        <p class="description">{{item?.content}}</p>
                      </div>
                    </div>
                  </div>
                </ng-container>
              </ng-container>
              <ng-template #noRecentStories>
                <div class="py-4 mt-5 d-flex no-provider justify-content-center align-items-center gap-3 flex-column">
                  <img src="assets/images/not-found/no-data.svg" width="200px" alt="no-data">
                  <p>{{'general.noData'|translate}}</p>
                </div>
              </ng-template>
            </ng-template>
          </div>
          <div>
            <!-- <p-paginator *ngIf="recentStories?.length>0" [first]="1" [rows]="6" (onPageChange)="onPageChange($event)"
              [totalRecords]="recentStories?.length"></p-paginator> -->
            <div *ngIf="recentStories?.length>0" class="d-flex justify-content-center my-2">
              <button [class.disabled]="isLoadingMoreStories" class="loadMore rounded-pill border-0"
                *ngIf="recentStories?.length<storiesTotalCount" (click)="loadMoreStories()">
                <ng-container *ngIf="isLoadingMoreStories; else noLoadingMore">
                  <i class="pi pi-spin pi-spinner" style="font-size: 1rem"></i>
                </ng-container>
                <ng-template #noLoadingMore>
                  <i class="pi pi-plus"></i>
                </ng-template>
                {{'general.loadMore'|translate}}</button>
            </div>
          </div>
        </div>
        <div class="col-md-4 sidebar">
          <div class="border bg-white-color p-3 rounded">
            <div class="position-relative">
              <div class="banner-overlay position-absolute d-flex justify-content-center align-items-center">
                <h5 class="fs-4 fw-500 text-uppercase">{{'titles.hawdaj'|translate}}</h5>
              </div>
              <img src="assets/images/stories/banner.jpg" alt="banner" class="w-100 shadow-sm banner">
            </div>
            <hr>
            <div>
              <h5><img src="assets/images/restaurants/flower-decor.webp" alt="decor" width="30px">
                {{'stories.featuredStories'|translate}}</h5>
              <div class="mt-4">
                <ng-container *ngIf="isLoadingFeaturedStories; else noLoadingFeaturedStories">
                  <!-- <app-skeleton [type]="'featuredStories'"></app-skeleton> -->
                </ng-container>
                <ng-template #noLoadingFeaturedStories>
                  <ng-container *ngIf="featuredStories?.length>0; else noFeaturedStories">
                    <ng-container *ngFor="let item of featuredStories;let i=index">
                      <div
                        class="d-flex align-items-center align-items-center gap-3 mb-4 flex-lg-nowrap  flex-md-wrap flex-sm-nowrap"
                        [routerLink]="['/stories/'+item?.slug]">
                        <div>
                          <img [src]="item?.image" alt="img" class="feature-img rounded-circle shadow-sm"
                            onerror="src='assets/images/not-found/no-img.svg'">
                        </div>
                        <div>
                          <h5 class="fs-5-2 feature-title">
                            {{item?.title}}
                          </h5>
                          <p class="feature-desc">{{item?.content}}</p>
                          <p class="mb-0 text-muted-color">
                            {{item?.created_at| date: 'd MMMM y':'':currentLanguage }}
                          </p>
                        </div>
                      </div>
                    </ng-container>
                  </ng-container>
                  <ng-template #noFeaturedStories>
                    <div
                      class="py-4 mt-5 d-flex no-provider justify-content-center align-items-center gap-3 flex-column">
                      <img src="assets/images/not-found/no-data.svg" width="200px" alt="no-data">
                      <p>{{'general.noData'|translate}}</p>
                    </div>
                  </ng-template>
                </ng-template>
              </div>
            </div>
            <hr>
            <div class="news-letter p-4">
              <h5 class="text-center">{{'stories.newsletter'|translate}}</h5>
              <p class="text-center">{{'stories.fillEmail'|translate}}</p>
              <form [formGroup]="emailForm">
                <div class="p-inputgroup bg-white-color rounded-pill mt-4 position-relative">
                  <input type="email" formControlName="email" class="form-control bg-transparent border-0 h-50"
                    placeholder="{{'placeholder.email'|translate}}"
                    (input)="publicService.clearValidationErrors(emailFormControls?.email)" formControlName="email">
                  <span (click)="submit()" class="p-inputgroup-addon bg-transparent border-0 pointer"><i
                      class="pi pi-send"></i></span>
                  <div class="overlay-search position-absolute rounded-pill d-flex justify-content-center"
                    *ngIf="isLoadingBtn">
                    <div class="d-flex justify-content-center align-items-center gap-2">
                      <ng-container *ngFor="let item of [8,8,9,8]">
                        <div class="spinner-grow" role="status">
                          <span class="visually-hidden">Loading...</span>
                        </div>
                      </ng-container>
                    </div>
                  </div>
                </div>
              </form>
              <!-- <div class="mt-4">
                <h5 class="fs-5-1 text-muted-color text-center">{{'stories.followMe'|translate}}</h5>
                <div class="d-flex justify-content-center gap-3 social mt-3">
                  <i class="pi pi-facebook"></i>
                  <i class="pi pi-whatsapp"></i>
                  <i class="pi pi-instagram"></i>
                  <i class="pi pi-youtube"></i>
                </div>
              </div> -->
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- <app-footer></app-footer> -->
  </div>
</div>