$primary: #5d2169;
#trip-categories {
  .p-inputgroup {
    border: 1px solid #7e82845c !important;
    height: 3rem;
    border-radius: 6px;
    color: #7e82845c;
  }
  .btn {
    box-shadow: 0px 5px 7px 0px #5243c23b;
  }
  .btn-select {
    background-color: $primary;
    border-color: $primary;
  }
  .btn-reset {
    background-color: #6b6d74;
    border: 1px solid #6b6d74;
  }
  p {
    color: #101828 !important;
    font-size: 24px !important;
    @media (max-width: 1024px) {
      text-align: center !important;
    }
  }
  .all-btn,
  .cancel-btn {
    padding: 10px 25px;
    border-radius: 12px;
    font-size: 1.05rem;
    outline: 0;
    max-width: 200px;
    border: 0;
    @media (max-width: 767px) {
      font-size: 16px;
    }
  }

  .cancel-btn {
    color: $primary;
    border: 1px solid #7939a7;
    width: fit-content;
    background-color: white;
    padding: 8px 12px;
    svg {
      width: 25px;
    }
  }
}
