<div id="date-range">
  <section id="calender-container">
    <div class="img-container w-100 d-flex justify-content-center">
      <img src="assets/images-v2/create-trip/date/bag.webp" appLazyLoadImage width="290px" alt="bag" aria-label="bag">
    </div>
    <div class="content text-center w-100 d-flex flex-column mt-4 justify-content-center align-items-center">
      <h3 [ngStyle]="{'font-size': currentLanguage == 'ru' ? '32px' : 'inherit'}">
        {{'general.startTrip'|translate}}
      </h3>
      <p class="memories" [ngStyle]="{'font-size': currentLanguage !== 'ru' ? '18px' : 'inherit'}">
        {{'general.memories'|translate}}
      </p>
      <p class="journey mt-3" [ngStyle]="{'font-size': currentLanguage !== 'ru' ? '16px' : 'inherit'}">
        {{'general.journey'|translate}}
      </p>
    </div>
    <div class="row gap-2 gx-0 justify-content-center px-sm-3">
      <div class="start-date col-lg-5" [class.has-value]="startDate">
        <label
          [ngStyle]="{'right': currentLanguage === 'ar' ? '15px' : 'auto', 'left': currentLanguage !== 'ar' ? '15px' : 'auto'}">
          {{startDate ? (startDate | date: 'd MMMM y' : '' : currentLanguage) : 'placeholder.selectStartDate' |
          translate}}
        </label>
        <img src="assets/images-v2/create-trip/date/date.svg" appLazyLoadImage alt="select date" aria-label="date"
          [ngStyle]="{'left': currentLanguage === 'ar' ? '15px' : 'auto', 'right': currentLanguage !== 'ar' ? '15px' : 'auto'}">
        <input type="date" [(ngModel)]="startDate" (ngModelChange)="onStartDateChange()" class="form-control scaleX-rtl"
          aria-label="select start date" [min]="minDate" />
      </div>
      <div class="end-date col-lg-5" [class.has-value]="endDate" (click)="onEndDateClick($event)">
        <label
          [ngStyle]="{'right': currentLanguage === 'ar' ? '15px' : 'auto', 'left': currentLanguage !== 'ar' ? '10px' : 'auto'}">
          {{endDate ? (endDate | date: 'd MMMM y' : '' : currentLanguage) : 'placeholder.selectEndDate' | translate}}
        </label>
        <img src="assets/images-v2/create-trip/date/date.svg" appLazyLoadImage alt="select date"
          aria-label="select-date"
          [ngStyle]="{'left': currentLanguage === 'ar' ? '15px' : 'auto', 'right': currentLanguage !== 'ar' ? '15px' : 'auto'}">
        <input type="date" [(ngModel)]="endDate" (ngModelChange)="onEndDateChange()" 
          class="form-control scaleX-rtl" [min]="startDate || minDate" [disabled]="!startDate"
          aria-label="select end date" />
      </div>
    </div>
    <div class="d-flex justify-content-center gap-3 mt-4">
      <button class="btn confirm-btn d-flex justify-content-center align-items-center gap-2 flex-row-reverse"
        (click)="confirmDate()" aria-label="confirm">
        <img src="assets/images-v2/create-trip/icon/Arrows.svg" appLazyLoadImage class="scaleX-rtl" alt="Arrows"
          aria-label="arrow">
        {{'general.next'|translate}}
      </button>
    </div>
  </section>
</div>