<div id="auth-form">
  <div class="row g-0">
    <div class="auth-form__banner col-lg-6 d-lg-block d-none position-relative">
      <div class="position-fixed h-100 d-flex justify-content-center align-items-center auth-form__banner__bg-form">
        <div class="auth-form__banner__bg-form__banner-img-container">
          <img src="assets/images-v2/popups/reset-password/arab.png" appLazyLoadImage width="410px" height="550px"
            alt="arab">
          <div class="auth-form__banner__bg-form__banner-img-container__content">
            <h3>{{'home.hawdaj'|translate}}</h3>
            <p>
              {{'home.organize'|translate}}
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="auth-form__form col-lg-6">
      <div class="d-flex justify-content-end p-3 px-4 pb-0">
        <a class="auth-form__form__close d-flex justify-content-center align-items-center" (click)="close()">
          <i class="pi pi-times"></i>
        </a>
      </div>
      <div class="auth-form__form__form-container px-2 pb-2">
        <div class="auth-form__form__form-container__form-content row align-items-center justify-content-center g-0"
          [ngStyle]="currentLang === 'ar' ? {'margin-right': '-20px'} : {'margin-left': '-20px'}">
          <div class="col-11">
            <div id="login" class="pb-2 auth-form">
              <div class="d-lg-none d-flex flex-column align-items-sm-center mb-3">
                <img src="assets/images/logo/logo.png"
                  class="auth-form__form__form-container__form-content__form-logo mb-2" alt="logo">
              </div>

              <div>
                <h4 class="fw-bold">{{'form.passwordReset'|translate}}</h4>
              </div>
              <form [formGroup]="resetPasswordForm" (ngSubmit)="submit()" class="py-3">
                <div class="mb-2">
                  <label class="my-2 fw-bold">{{'labels.newPassword'|translate}} <span class="text-danger">*</span>
                  </label>
                  <div class="rounded-input p-mask"
                    [class.border-red]="formControls?.password?.invalid && (formControls?.password?.dirty || formControls?.password?.touched)"
                    [class.is-valid]="formControls?.password?.valid && (formControls?.password?.dirty || formControls?.password?.touched)">
                    <div class="p-inputgroup">
                      <span class="p-inputgroup-addon bg-transparent"><img appLazyLoadImage
                          src="assets/images-v2/popups/reset-password/icons/Lock.png" alt="lock"></span>
                      <p-password [toggleMask]="true" id="p-password" formControlName="password"
                        (input)="publicService.clearValidationErrors(formControls?.password);publicService.clearValidationErrors(formControls?.confirmPassword)"
                        inputStyleClass="rounded-start-0 border-start-0 px-1" placeholder="{{'placeholder.newPassword'|translate}}
                        " [attr.autocomplete]="'current-password'" [feedback]="false">
                      </p-password>
                    </div>
                  </div>
                  <div class="mt-1">
                    <ng-container
                      *ngIf="formControls?.password?.invalid && (formControls?.password?.dirty || formControls?.password?.touched) ">
                      <ng-container *ngIf="formControls?.password?.errors?.['required']">
                        <span class="text-danger fs-8">
                          {{'validations.required_field'|translate}}
                        </span>
                      </ng-container>
                      <ng-container *ngIf="formControls?.password?.errors?.['pattern']">
                        <span class="text-danger fs-8 lh-sm">
                          {{'validations.passwordPattern'|translate}}
                        </span>
                      </ng-container>
                    </ng-container>
                  </div>
                </div>
                <div class="mb-4">
                  <label class="my-2 fw-bold">{{'labels.confirmPassword'|translate}} <span class="text-danger">*</span>
                  </label>
                  <div class="rounded-input p-mask"
                    [class.border-red]="formControls?.confirmPassword?.invalid && (formControls?.confirmPassword?.dirty || formControls?.confirmPassword?.touched)"
                    [class.is-valid]="formControls?.confirmPassword?.valid && (formControls?.confirmPassword?.dirty || formControls?.confirmPassword?.touched)"
                    [class.border-red]="formControls?.confirmPassword?.invalid && (formControls?.confirmPassword?.dirty || formControls?.confirmPassword?.touched)"
                    [class.auth-form__input--disabled]="resetPasswordForm.value.password ==''">
                    <div class="p-inputgroup">
                      <span class="p-inputgroup-addon bg-transparent"><img appLazyLoadImage
                          src="assets/images-v2/popups/reset-password/icons/Lock.png" alt="lock"></span>
                      <p-password [toggleMask]="true" id="p-password" formControlName="confirmPassword"
                        (onFocus)="onFocusConfirmPassword()"
                        (input)="publicService.clearValidationErrors(formControls?.confirmPassword)"
                        inputStyleClass="rounded-start-0 border-start-0 px-1" placeholder="{{'placeholder.confirmPassword'|translate}}
                        " [attr.autocomplete]="'current-password'" [feedback]="false">
                      </p-password>
                    </div>
                  </div>
                  <div class="mt-1">
                    <ng-container
                      *ngIf="formControls?.confirmPassword?.invalid && (formControls?.confirmPassword?.dirty || formControls?.confirmPassword?.touched) ">
                      <ng-container *ngIf="formControls?.confirmPassword?.errors?.['required']">
                        <span class="text-danger fs-8">
                          {{'validations.required_field'|translate}}
                        </span>
                      </ng-container>
                      <ng-container *ngIf="formControls?.confirmPassword?.errors?.ConfirmPassword">
                        <span class="text-danger fs-8 lh-sm">
                          {{'validations.not_matched'|translate}}
                        </span>
                      </ng-container>
                    </ng-container>
                  </div>
                </div>

                <button type="submit" class="btn w-100 btn-solid-main form-btn mt-4" [disabled]="isLoadingBtn">
                  <span>
                    {{'general.confirm'|translate}}
                  </span>
                  <ng-container *ngIf="isLoadingBtn">
                    <i class="pi pi-spin pi-spinner" style="font-size: 1rem"></i>
                  </ng-container>
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>