<section id="startTripSection">
    <div class="container">
        <div class="row justify-content-center">
            <div class="p-0">
                <div
                    class="d-flex gap-2 flex-column mt-4 mx-0 align-items-center px-md-5 px-2 trips justify-content-center position-relative">
                    <div class="trip-overlay position-absolute text-center"></div>
                    <div class="content">
                        <h2>
                            {{'trip.bestTime'|translate}}
                        </h2>
                        <p class="text-center mt-2">
                            {{'homePage.travel'|translate}}
                        </p>
                        <a class="btn btn-solid-main mt-2 text-capitalize d-flex align-items-center justify-content-center gap-2 mx-auto px-3"
                            (click)="startTrip()">
                            <img [appLazyLoadImage]="'assets/images/icons/startup 1.svg'"
                                [ngSrc]="'assets/images/icons/startup 1.svg'" width="20" height="20" alt="start"
                                ngOptimizedImage>
                            {{'trip.startYourTrip'|translate}}
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>