<div class="save-trip-card">
    <div class="img-container">
        <img class="card-img"
            src="https://cdn-imgix.headout.com/tour/7064/TOUR-IMAGE/b2c74200-8da7-439a-95b6-9cad1aa18742-4445-dubai-img-worlds-of-adventure-tickets-02.jpeg?auto=format&w=780&h=384&q=90&fit=crop&ar=16%3A10"
            alt="img">
        <div class="card-status d-flex align-items-center justify-content-between w-100">
            <div class="right-side d-flex align-items-center gap-2">
                <div class="rate d-flex align-items-center ju gap-1">
                    <img src=" assets/images-v2/pages/save-trip/icons/card/star.svg" alt="star">
                    <p>4.0 (23)</p>
                </div>
                <div class="location">
                    <img src="assets/images-v2/pages/save-trip/icons/card/card-location-2.svg" alt="star">
                </div>
                <div class="status d-flex align-items-center gap-1">
                    <span></span>
                    <p>مفتوح</p>
                </div>
            </div>
            <div class="left-side">
                <div class="delete">
                    <img src="assets/images-v2/pages/save-trip/icons/card/trash.svg" alt="trash">
                </div>
            </div>
        </div>
        <div class="card-content">
            <h4>متجر فراء</h4>
            <p>
                <img src="assets/images-v2/pages/save-trip/icons/card/card-location.svg" alt="location">
                الرياض، الرياض
            </p>
        </div>
    </div>
</div>