<div id="rate" class="auth-form">
  <hr class="mt-0">
  <form [formGroup]="rateForm" (ngSubmit)="submit()">
    <div class="mb-3">
      <div class="d-flex justify-content-center align-items-center mb-1">
        <p-rating formControlName="rate" [id]="'rate'" [cancel]="false"></p-rating>
      </div>
      <ng-container *ngIf="formControls?.rate?.invalid && (formControls?.rate?.dirty || formControls?.rate?.touched)">
        <ng-container *ngIf="formControls?.rate?.errors?.['required']">
          <span class="text-danger fs-8 text-center d-block">
            {{'validations.required_field'|translate}}
          </span>
        </ng-container>
      </ng-container>
    </div>
    <div class="mb-3">
      <div>
        <label for="name" class="mb-2 required fw-500">{{'labels.name'|translate}}</label>
        <input type="text" id="name" class="form-control" formControlName="name"
          [class.border-red]="formControls?.name?.invalid && (formControls?.name?.dirty || formControls?.name?.touched)"
          autocomplete="cc-name" (input)="publicService.clearValidationErrors(formControls?.name)"
          placeholder="{{'placeholder.name'|translate}}">
      </div>
      <div class="mt-2">
        <ng-container *ngIf="formControls?.name?.invalid && (formControls?.name?.dirty || formControls?.name?.touched)">
          <ng-container *ngIf="formControls?.name?.errors?.['required']">
            <span class="text-danger fs-8">
              {{'validations.required_field'|translate}}
            </span>
          </ng-container>
          <ng-container *ngIf="formControls?.name?.errors?.['minlength']">
            <span class="text-danger fs-8">
              {{'validations.length'|translate}}
            </span>
          </ng-container>
          <ng-container *ngIf="formControls?.name?.errors?.['pattern']">
            <span class="text-danger fs-8 d-block">
              {{'validations.acceptLetters'|translate}}
            </span>
          </ng-container>
        </ng-container>
      </div>
    </div>
    <div class="mb-3">
      <div>
        <label for="email" class="mb-2 required fw-500">{{'labels.email'|translate}}</label>
        <input type="email" id="email" class="form-control" formControlName="email"
          [class.border-red]="formControls?.email?.invalid && (formControls?.email?.dirty || formControls?.email?.touched)"
          autocomplete="cc-name" (input)="publicService.clearValidationErrors(formControls?.email)"
          placeholder="{{'placeholder.email'|translate}}">
      </div>
      <div class="mt-2">
        <ng-container
          *ngIf="formControls?.email?.invalid && (formControls?.email?.dirty || formControls?.email?.touched)">
          <ng-container
            *ngIf="formControls?.email?.invalid && (formControls?.email?.dirty || formControls?.email?.touched)">
            <ng-container *ngIf="formControls?.email?.errors?.['required']">
              <span class="text-danger fs-8">
                {{'validations.emailRequired'|translate}}
              </span>
            </ng-container>
            <ng-container *ngIf="formControls?.email?.errors?.['pattern']">
              <span class="text-danger fs-8 d-block lh-base">
                {{'validations.emailNotValid'|translate}}
              </span>
            </ng-container>
          </ng-container>
        </ng-container>
      </div>
    </div>
    <div class="mb-3">
      <div>
        <label for="rateText" class="mb-2 required fw-500">{{'labels.rateText'|translate}}</label>
        <textarea type="text" id="rateText" class="textarea form-control" formControlName="rateText"
          [class.border-red]="formControls?.rateText?.invalid && (formControls?.rateText?.dirty || formControls?.rateText?.touched)"
          autocomplete="cc-name" (input)="publicService.clearValidationErrors(formControls?.rateText)"
          placeholder="{{'placeholder.rateText'|translate}}"></textarea>
      </div>
      <div class="mt-2">
        <ng-container
          *ngIf="formControls?.rateText?.invalid && (formControls?.rateText?.dirty || formControls?.rateText?.touched)">
          <ng-container *ngIf="formControls?.rateText?.errors?.['required']">
            <span class="text-danger fs-8">
              {{'validations.required_field'|translate}}
            </span>
          </ng-container>
          <ng-container *ngIf="formControls?.rateText?.errors?.['minlength']">
            <span class="text-danger fs-8">
              {{'validations.rateLength'|translate}}
            </span>
          </ng-container>
          <ng-container *ngIf="formControls?.rateText?.errors?.['pattern']">
            <span class="text-danger fs-8 d-block">
              {{'validations.msgAcceptLetters'|translate}}
            </span>
          </ng-container>
        </ng-container>
      </div>
    </div>
    <div class="d-flex justify-content-end gap-3 mt-4">
      <button type="button" class="btn btn-outline-main form-btn" (click)="close()">
        <span>
          {{'general.cancel'|translate}}
        </span>
      </button>
      <button type="submit" class="btn btn-solid-main form-btn" [disabled]="isLoadingBtn">
        <span>
          {{'general.sendRate'|translate}}
        </span>
        <ng-container *ngIf="isLoadingBtn">
          <i class="pi pi-spin pi-spinner" style="font-size: 1rem"></i>
        </ng-container>
      </button>
    </div>
  </form>
</div>