<div id="auth-form">
  <div class="row g-0">
    <div class="col-lg-6 d-lg-block d-none position-relative">
      <div class="position-fixed h-100 d-flex justify-content-center align-items-center bg-form">
        <div>
          <img src="assets/images/auth/forgetPassword.svg" width="400px" class="forgetPassword-img"
            alt="forgetPassword">
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="d-flex justify-content-end p-3 px-4 pb-0">
        <a class="close rounded-circle d-flex justify-content-center align-items-center" (click)="close()">
          <i class="pi pi-times"></i>
        </a>
      </div>
      <div class="px-2 pb-2">
        <div class="form-content row align-items-center justify-content-center g-0">
          <div class="col-md-10 col-11">
            <div id="login" class="pb-md-4 pb-2 auth-form">
              <div class="d-lg-none d-flex flex-column align-items-sm-center mb-3">
                <img src="assets/images/logo/logo.png" class="form-logo mb-2" alt="logo">
              </div>

              <div>
                <h4 class="fw-bold">{{'form.forgetPassword'|translate}}</h4>
                <p class="fw-500 text-muted-color">{{'form.dontWorry'|translate}}</p>
              </div>
              <form [formGroup]="forgetPasswordForm" (ngSubmit)="submit()" class="py-3">
                <div class="mb-4">
                  <div class="p-inputgroup"
                    [class.border-red]="formControls?.email?.invalid && (formControls?.email?.dirty || formControls?.email?.touched)"
                    [class.is-valid]="formControls?.email?.valid && (formControls?.email?.dirty || formControls?.email?.touched)">
                    <span class="p-inputgroup-addon bg-transparent">
                      <img appLazyLoadImage src="assets/images-v2/popups/login/icons/email.png" alt="email"></span>
                    <input type="email" class="form-control rounded-start-0 border-start-0 px-1" formControlName="email"
                      autocomplete="cc-name" (input)="publicService.clearValidationErrors(formControls?.email)"
                      placeholder="{{'placeholder.email'|translate}}" pInputText>
                  </div>
                  <div class="mt-2">
                    <ng-container
                      *ngIf="formControls?.email?.invalid && (formControls?.email?.dirty || formControls?.email?.touched)">
                      <ng-container
                        *ngIf="formControls?.email?.invalid && (formControls?.email?.dirty || formControls?.email?.touched)">
                        <ng-container *ngIf="formControls?.email?.errors?.['required']">
                          <span class="text-danger fs-8">
                            {{'validations.emailRequired'|translate}}
                          </span>
                        </ng-container>
                        <ng-container *ngIf="formControls?.email?.errors?.['pattern']">
                          <span class="text-danger fs-8 d-block lh-base">
                            {{'validations.emailNotValid'|translate}}
                          </span>
                        </ng-container>
                      </ng-container>
                    </ng-container>
                  </div>
                </div>

                <button type="submit" class="btn w-100 btn-solid-main form-btn mt-4" [disabled]="isLoadingBtn">
                  <span>
                    {{'general.follow'|translate}}
                  </span>
                  <ng-container *ngIf="isLoadingBtn">
                    <i class="pi pi-spin pi-spinner" style="font-size: 1rem"></i>
                  </ng-container>
                </button>
              </form>
            </div>
            <!-- Flex container for centering the link -->
            <div class="text-center w-100">
              <a (click)="goToLogin()" class="fw-bold text-main-color text-decoration-underline">
                {{'form.login'|translate}}
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>