<div id="auth-form">
  <div class="row g-0">
    <div class="auth-form__banner col-lg-6 d-lg-block d-none position-relative">
      <div class="position-fixed h-100 d-flex justify-content-center align-items-center auth-form__banner__bg-form">
        <div class="auth-form__banner__bg-form__banner-img-container">
          <img src="assets/images-v2/popups/forget-password/arab.png" width="410px" height="550px" alt="login">
          <div class="auth-form__banner__bg-form__banner-img-container__content">
            <h3>{{'home.hawdaj'|translate}}</h3>
            <p>
              {{'home.organize'|translate}}
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="auth-form__form col-lg-6">
      <div class="d-flex justify-content-end p-3 px-4 pb-0">
        <a class="auth-form__form__close d-flex justify-content-center align-items-center" (click)="close()">
          <i class="pi pi-times"></i>
        </a>
      </div>
      <div class="auth-form__form__form-container pb-2">
        <div class="auth-form__form__form-container__form-content row align-items-center justify-content-center g-0"
          [ngStyle]="currentLang === 'ar' ? {'margin-right': '-20px'} : {'margin-left': '-20px'}">
          <div class="col-11">
            <div id="login" class="auth-form">
              <div class="d-lg-none d-flex flex-column align-items-sm-center mb-3">
                <img src="assets/images/logo/logo.png"
                  class="auth-form__form__form-container__form-content__form-logo mb-2" alt="logo">
              </div>

              <div>
                <h4 class="fw-bold">{{'form.forgetPassword'|translate}}</h4>
                <p class="fw-500 text-muted-color">{{'form.dontWorry'|translate}}</p>
              </div>
              <form [formGroup]="forgetPasswordForm" (ngSubmit)="submit()" class="pt-3">
                <div class="mb-4">
                  <label class="my-2 fw-bold">{{'placeholder.email'|translate}} <span class="text-danger">*</span>
                  </label>
                  <div class="p-inputgroup"
                    [class.border-red]="formControls?.email?.invalid && (formControls?.email?.dirty || formControls?.email?.touched)"
                    [class.is-valid]="formControls?.email?.valid && (formControls?.email?.dirty || formControls?.email?.touched)">
                    <span class="p-inputgroup-addon bg-transparent"><img
                        src="assets/images-v2/popups/forget-password/icons/email.png" alt="email"></span>
                    <input type="email" class="form-control rounded-start-0 border-start-0 px-1" formControlName="email"
                      autocomplete="cc-name" (input)="publicService.clearValidationErrors(formControls?.email)"
                      placeholder="{{'placeholder.email'|translate}}" pInputText>
                  </div>
                  <div class="mt-2">
                    <ng-container
                      *ngIf="formControls?.email?.invalid && (formControls?.email?.dirty || formControls?.email?.touched)">
                      <ng-container
                        *ngIf="formControls?.email?.invalid && (formControls?.email?.dirty || formControls?.email?.touched)">
                        <ng-container *ngIf="formControls?.email?.errors?.['required']">
                          <span class="text-danger fs-8">
                            {{'validations.emailRequired'|translate}}
                          </span>
                        </ng-container>
                        <ng-container *ngIf="formControls?.email?.errors?.['pattern']">
                          <span class="text-danger fs-8 d-block lh-base">
                            {{'validations.emailNotValid'|translate}}
                          </span>
                        </ng-container>
                      </ng-container>
                    </ng-container>
                  </div>
                </div>

                <button type="submit" class="btn w-100 btn-solid-main form-btn mt-4" [disabled]="isLoadingBtn">
                  <span>
                    {{'general.follow'|translate}}
                  </span>
                  <ng-container *ngIf="isLoadingBtn">
                    <i class="pi pi-spin pi-spinner" style="font-size: 1rem"></i>
                  </ng-container>
                </button>
              </form>
            </div>
            <!-- Flex container for centering the link -->
            <div class="d-flex align-items-center justify-content-center gap-1 mt-2 flex-wrap">
              <p class="mb-0 fw-bold remember">{{'form.rememberPassword'|translate}}</p>
              <a class="fw-bold text-main-color" (click)="goToLogin()">{{'form.login'|translate}}</a>
              <!-- <app-language-selector></app-language-selector> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>