:root {
  --text-main-color: #7939a7;
  --bg-main-color: #84548e;
  --text-secondary-color: #ff375e;
  --bg-secondary-color: #8c95a342;
  --text-second-color: #cdf0ff;
  --bg-second-color: #cdf0ff;
  --light-new-color: #e671ff;
  --bg-third-color: #84548e;
  --text-forth-color: #cf86ac;
  --bg-forth-color: #cf86ac;
  --text-dark-color: #111;
  --bg-dark-color: #111;
  --text-white-color: #fff;
  --bg-white-color: #fff;
  --text-muted-color: #b0b3b8;
  --placeholder-color: #b0b3b8;
  --grey-900: #101010;
  --grey-700: #484848;
  --grey-400: #999999;
  --grey-100: #9c9c9c;
  --bg-input-color: #f2f7fa;
  --border-input-color: #f2f7fa;
  --border-input-radius: 0.625rem;
  --border-card-radius: 20px;
  --border-modal-radius: 24px;

  --new-color: #410c0c;
  --light-new-color: #7939a7;
  --font-family: "SaudiWeb", sans-serif !important;
}
