.word {
    cursor: pointer;
    background-color: white;

    &__overlay {
        transition: 0.3s;
        background: rgba(128, 128, 128, 0.075);
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.052);
        backdrop-filter: blur(2.5px);
        -webkit-backdrop-filter: blur(2.5px);
    }

    &__download {
        opacity: 0.5;
        transition: 0.3s;
        padding: 10px;
        border-radius: 10px;
        background-color: transparent;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    &:hover {
        .word__overlay {
            background: rgba(128, 128, 128, 0.192);
            box-shadow: 0 4px 30px rgba(0, 0, 0, 0.192);
            backdrop-filter: blur(5px);
            -webkit-backdrop-filter: blur(5px);
        }

        .word__download {
            opacity: 1;
        }
    }
}
